{#<?php#}
{#require_once ("partials/_header.php");#}
{#require_once ("../config/config.php");#}
{#?>#}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>

<h1>Bienvenue Sur votre site de Pringles</h1>

{% if message %}

<h2>{{ message }}</h2>

{% endif %}

<form method="POST" action="">
    <label for='customerName'>Entrez votre nom pour commencer une commande</label>
    <input type='text' name='customerName' id='customerName' placeholder="Votre nom ici"/>

    <button type="submit">Démarrer votre commande</button>
</form>


{#{% if SERVER["REQUEST_METHOD"] === "POST" %}#}

{#<p> {{ message }} </p>#}

{#<p>#}
{#    Commande numéro : {{order->getId}} au nom de {{ order->getCustomerName() }}#}
{#</p>#}

</body>
</html>


{#<?php#}
{#require_once ("partials/_footer.php")#}
{#?>#}